#main_signUp_container {
  height: 100vh;
  background-color: #f3f3f330;
  /* ------*/
  display: flex;
  align-items: center;
  justify-content: center;
}

.signUp_inner_container {
  width: 60%;
  height: 60%;
  padding: 80px;
  background-color: #ffffff;
  border-radius: 8px;
  box-shadow: #00000030 0px 10px 20px, #0000003b 0px 6px 6px;
}

.signUp_parent_content_container {
  height: 90%;
  /* ------ */
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.signUp_content {
  width: 70%;
  height: 100%;
  overflow: hidden;
  position: relative;
}

.slider {
  display: flex;
  height: 100%;
  width: 400%;
  transition: transform 0.5s ease-in-out;
}

.step {
  height: 100%;
  flex: 0 0 25%;
  box-sizing: border-box;
  /* border: 1px solid #871010; */
}

/* Step - 01 content__ */

.step_one_content h1 {
  font-size: 2.5rem;
  font-weight: 600;
  color: #151515;
  font-family: "Montserrat", sans-serif;
}

.step_one_content button:nth-of-type(1) {
  margin-top: 50px;
  padding: 5px 50px;
  font-size: 1.5rem;
  border-radius: 8px;
  cursor: pointer;
  background-color: #06060625;
  /* ------ */
  gap: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.step_one_content p {
  margin-top: 5px;
  color: #00000090;
  /* ------ */
  gap: 5px;
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}

.step_one_content button:nth-of-type(2) {
  margin-top: 40px;
  padding: 5px 50px;
  font-size: 1.5rem;
  border-radius: 8px;
  cursor: pointer;
  background-color: #06060625;
  /* ------ */
  gap: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.step_one_content button:hover {
  transition: 0.2s ease-in-out;
  background-color: #06060633;
}

.step_one_content button:nth-of-type(2) p {
  font-size: 16px;
}

.signUp_process_button {
  display: flex;
  align-items: center;
  justify-content: space-between;
  /* border: 2px solid purple; */
}
