@tailwind base;
@tailwind components;
@tailwind utilities;

@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap"); /* Roboto */

@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap"); /* Montserrat */

@import "nprogress/nprogress.css";

body {
  font-family: "Roboto", sans-serif;
}

#nprogress {
  pointer-events: none;
}

#nprogress .bar {
  background: #3c8f63 !important;
  position: fixed !important;
  top: 0;
  left: 0;
  width: 100%;
  height: 4px !important;
  z-index: 9999;
}
